:root{
    --bgcolor: #1B1B1B;
    --txtcolor: #E2E2E2;
    --empcolor: white;
}

body {
    background-color: var(--bgcolor) ;
    color: var(--txtcolor);
    transition: background-color 0.8s;
}

.navbar{
    list-style-type: none;
    position: -webkit-sticky;
    position: sticky;
    top:0;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.navbar li {
    float: right;
}

.navbar li a{
    display: block;
    color: var(--txtcolor);
    font-style: oblique;
    text-align: center;
    padding: 14px 16px;
    font-size: 15px;
    text-decoration: none; 
    transition: color 1s, font-size 0.5s;
    transition-timing-function: ease-in-out;
}

#light_dark_mode{
    display: block;
    float: right;
    text-align: center;
    padding-left: 10px;
    font-size: 15px;
    width: 30px;
    height: 35px;
}

#light_dark_txt{
    display: block;
    float: right;
    font-size: small;
    cursor: pointer;
    transition: color 1.2s;
}

.navbar li a:hover:not(.active){
    color: #A9D6E5;
    font-size: 19px;
}

.navbar li a.active{
    border-bottom-style: solid;
    border-color: #A9D6E5;
}

@media screen and (max-width: 600px) {
    .navbar li.right, 
    .navbar li {float: none;}
}

/*Login page and Register page*/

.error{
    color: red;
}

.lrform{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}

.lrform form{
    text-align: center;
    width: 420px;
    background-color: transparent;
    box-shadow: 0 0 50px brown ;
    border-radius: 10px;
    padding: 30px 40px;
}

.lrform form label{
    font-size: 36px;
    text-align: center;
}


.lrform .inputbox{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.inputbox img{
    position: absolute;
    right: 20px;
    top:50%;
    transform: translateY(-50%);
}

.inputbox input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 40px;
    font-size: 16px;
    color: var(--empcolor);
    padding-left: 10px;
}

.inputbox input::placeholder{
    color: var(--empcolor);
}

.btn{
    width: 100%;
    height: 45px;
    background-color: white;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    margin-left: 5px;
}

.lrform .register-link{
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
}
.register-link p a{
    color: var(--empcolor);
    text-decoration: none;
    font-weight: 600;
    cursor: pointer;
}

.register-link p a:hover{
    text-decoration: underline;
}

/* The message page */

.chat{
    float: left;
    width: 20%;
    height: 85vh;
    overflow-y: auto;
    padding: 5px;
    box-sizing: border-box;
    border: 2px solid rgb(0, 128, 128);
}

.chat p{
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

.messages{
    overflow-y: auto;
    height: 75vh;
    /* border: 2px solid rgb(0, 128, 128); */
}

.message{
    display: flex;
    flex-direction: column;
    padding: 10px 5px 10px;
    font-size: 14px;
    border-radius: 10px 10px 20px 20px;
    max-width: 50%;
    color: white;
    padding: 8px 10px 8px 12px;
}

.right {
    background-color: rgb(171, 41, 91);
}

.left{
    background-color: rgb(77, 10, 97);
    border-bottom-left-radius: 0px;
}
.dash{
    float: left;
    width:80%;
    box-sizing: border-box;
    padding: 10px;
    height: 85vh;
    border: 2px solid rgb(0, 128, 128);
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.dash input{
    width: 90%;
    padding: 18px 25px 15px;
    background: transparent;
    border-radius: 35px;
    color: var(--empcolor);
    font-size: 16px;
    font-weight: 600;
    border: 2px solid rgba(255, 255, 255, 0.8);
}

.row:focus{
    outline: none;
}