:root {
    --bgcolor: #1B1B1B;
    --txtcolor: #E2E2E2;
    --empcolor: white;
}

body {
    background-color: var(--bgcolor);
    color: var(--txtcolor);
    transition: background-color 0.8s;
}

.navbar {
    list-style-type: none;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.navbar li {
    float: right;
}

.navbar li a {
    display: block;
    color: var(--txtcolor);
    font-style: oblique;
    text-align: center;
    padding: 14px 16px;
    font-size: 15px;
    text-decoration: none;
    transition: color 1s, font-size 0.5s;
    transition-timing-function: ease-in-out;
}

#light_dark_mode {
    display: block;
    float: right;
    text-align: center;
    padding-left: 10px;
    font-size: 15px;
    width: 30px;
    height: 35px;
}

#light_dark_txt {
    display: block;
    float: right;
    font-size: small;
    cursor: pointer;
    transition: color 1.2s;
}

.navbar li a:hover:not(.active) {
    color: #A9D6E5;
    font-size: 19px;
}

.navbar li a.active {
    border-bottom-style: solid;
    border-color: #A9D6E5;
}

@media screen and (max-width: 600px) {

    .navbar li.right,
    .navbar li {
        float: none;
    }
}

/*Login page and Register page*/

.error {
    color: red;
}

.lrform {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}

.lrform form {
    text-align: center;
    width: 420px;
    background-color: transparent;
    box-shadow: 0 0 50px brown;
    border-radius: 10px;
    padding: 30px 40px;
}

.bookform form{
    width: 600px;
}

.lrform form label {
    font-size: 36px;
    text-align: center;
}


.lrform .inputbox {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.inputbox img {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}

.inputbox input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 40px;
    font-size: 16px;
    color: var(--empcolor);
    padding-left: 10px;
}

.inputbox input::placeholder {
    color: var(--empcolor);
}

.btn {
    width: 100%;
    height: 45px;
    background-color: white;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    margin-left: 5px;
}

.lrform .register-link {
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
}

.register-link p a {
    color: var(--empcolor);
    text-decoration: none;
    font-weight: 600;
    cursor: pointer;
}

.register-link p a:hover {
    text-decoration: underline;
}

/* The message page */

.chat {
    float: left;
    width: 20%;
    height: 85vh;
    overflow-y: auto;
    overflow-x: hidden;
    border-radius: 30px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    color: white;
    padding: 5px;
    box-sizing: border-box;
    background-color: #28263b;
}

.chat_title {
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 20px;
}

.messages {
    overflow-y: auto;
    height: 75vh;
    /* border: 2px solid rgb(0, 128, 128); */
}

.message {
    display: block;
    flex-direction: column;
    margin: 5px;
    font-size: 14px;
    border-radius: 10px;
    max-width: 50%;
    color: white;
    word-wrap: break-word;
}

.request{
    display: block;
    flex-direction: column;
    margin: 5px;
    font-size: 14px;
    border-radius: 10px;
    max-width: 50%;
    color: white;
    word-wrap: break-word;
}

.request p{
    font-size: 16px;
    margin: 5px;
}

.right {
    background-color: rgb(171, 41, 91);
    font-size: 20px;
    align-self: flex-end;
    float: right;
    border-radius: 10px 10px 0 10px;
    padding: 8px 12px 8px 10px;
    clear: both;
}

.left {
    background-color: rgb(77, 10, 97);
    /* background-color: gold; */
    color: white;
    font-size: 20px;
    align-self: flex-start;
    float: left;
    border-radius: 10px 10px 10px 0;
    padding: 8px 10px 8px 12px;
    clear: both;
}

.empty {
    float: left;
    align-self: flex-start;
    clear: both;
}


.dash {
    float: left;
    width: 50%;
    box-sizing: border-box;
    padding: 10px;
    height: 85vh;
    border-radius: 30px;
    
}

.chatbooks{
    float: left;
    width: 30%;
    box-sizing: border-box;
    padding: 10px;
    height: 85vh;
    border-radius: 30px;
    background-color: #28263b;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.user_info{
    background-color: #9546c7;
    height: 20vh;
    border-radius: 30px;
    box-sizing: border-box;
}

.user_info img{
    width: 80px;
    float: left;
    width: 20%;
    border-radius: 50%;
    background-color: aqua;
    transform: translateY(50%) translateX(30%);
}

.user_info p{
    text-align: center;
    float: left;
    width: 20%;
    font-size: xx-large;
    transform: translateX(40%) translateY(70%);
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.row {
    background-color: #161523;
    border-radius: 30px;
    box-shadow: 0 0 50px rgb(53, 28, 103);
    backdrop-filter: blur(15px);
    margin-left: 30px;
    min-width: 1000px;
    margin-right: 30px;
    -webkit-backdrop-filter: blur(15px);
}

.dash .input_bx {
    width: 90%;
    padding: 18px 25px 15px;
    background: transparent;
    border-radius: 35px;
    box-sizing: border-box;
    color: var(--empcolor);
    font-size: 16px;
    font-weight: 600;
    border: 2px solid rgba(255, 255, 255, 0.8)
}

.row:focus {
    outline: none;
}

.dash .send {
    font-size: 30px;
    padding: 0px 11px;
    z-index: 100;
    width: 6%;
    box-sizing: border-box;
    transform: rotate(45deg) translateY(35%);
    border-radius: 15px;
    font-weight: 600;
}

.user {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 5px 0;
    border-radius: 50px;
    box-sizing: border-box;
    transition: box-shadow 0.3s;
    transition-timing-function: ease-in-out;
    cursor: pointer;
}

.user:hover {
    /* border: 1px solid rgba(255, 255, 255, 0.3); */
    box-shadow: 0 0 50px rgb(114, 21, 58);
}

.user img {
    position: absolute;
    left: 10px;
    width: 30px;
    border-radius: 50%;
    background-color: aqua;
    top: 50%;
    transform: translateY(-50%);
}

.user .user_name {
    position: absolute;
    top: 15%;
    font-size: 18px;
    font-weight: 900;
    transform: translateY(-50%);
    left: 20%;
}

.bubble {
    position: absolute;
    width: 20px;
    height: 20px;
    font-size: 12px;
    font-weight: 900;
    transform: translateY(-50%);
    right: 5%;
    top: 50%;   
    background-color: red;
    border-radius: 8px 8px 0 8px;
    text-align: center;
    line-height: 20px;
    color: white;
}

.active_user{
    position: absolute;
    width: 10px;
    height: 10px;
    font-size: 12px;
    font-weight: 900;
    transform: translateY(-50%);
    left: 12%;
    top: 70%;   
    border-radius: 50%;
    text-align: center;
    line-height: 20px;
}

.chat input {
    width: 100%;
    color: white;
    background-color: transparent;
    border: none;
    font-size: large;
    padding-top: 5px;
    padding-bottom: 5px;
    outline: none;
    border-radius: 10px;
    margin-bottom: 15px;
    /* color: var(--empcolor); */
}

.upload{
    width: 50px;
    height: 50px;
    margin-right: 5px;
    transform: translateY(20%);
}

input[type="file"]{
    display: none;
}

.imagebox label{
    cursor: pointer;
    margin: 20px 0 30px 0;
}

.imagebox{
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 40px;
    margin: 30px 0;
    position: relative;
    width: 100%;
}


#images{
    width: 90%;
    position: relative;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    flex-wrap: wrap;
}

#images img{
    max-width: 45%;
}

::-webkit-scrollbar {
    width: 10px;
}

.books{
    list-style: none;
    display: grid;
    box-sizing: border-box;
    padding: 0;
    margin: 5px;
    text-align: center;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 3em;
}
.bookss{
    list-style: none;
    display: grid;
    box-sizing: border-box;
    padding: 0;
    margin: 5px;
    text-align: center;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 3em;
}

.bookss input{
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 40px;
    font-size: 16px;
    color: white;
    color-scheme: dark;
    padding-left: 10px;
}

.request button{
    background: transparent;
    width: 100%;
    line-height: 30px;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 40px;
    font-size: 16px;
    color: white;
    color-scheme: dark;
    padding-left: 10px;
    cursor: pointer;
}

.request button:hover{
    box-shadow: 0 0 50px rgb(201, 56, 114);
}

.wrapper{
    overflow: hidden;
    display: flex;
    height: 86vh;
}

.wrapper .content{
    background-color: #b30000;
    width: 600px;
    overflow-y: auto;
    text-align: center;
}

.slide{
    margin: auto;
}

.slides{
    margin: auto;
}

.hide{
    display: none;
}


.wrapper .main{
    overflow-y: auto;
    flex-grow: 1;
}

.book_menu{
    height: 75%;
    overflow-y: auto;
}

.bookss li{
    /* border: 2px solid rgba(255, 255, 255, 0.2); */
    border-radius: 40px;
    background-color: var(--bgcolor);
    align-items: center;
    font-size: large;
    transition: background-color 0.3s, color 0.3s;
    transition-timing-function: ease-in-out;
}

.bookss li div{
    width: 90%;
    height: 80%;
    margin: auto;
}

.bookss li div img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    margin-top: 10px;
}

.bookss li button{
    font-size: large;
    margin: auto;
    padding: 10px;
    color: white;
    font-weight: bold;
    background-color: #930d9a;
    border-radius: 30px;
    outline: none;
    border: none;
    cursor: pointer;
}

.bookss li button:hover{
    box-shadow: 0 0 50px rgb(182, 54, 154);
}

.books li{
    /* border: 2px solid rgba(255, 255, 255, 0.2); */
    border-radius: 40px;
    background-color: var(--bgcolor);
    align-items: center;
    font-size: large;
    transition: background-color 0.3s, color 0.3s;
    transition-timing-function: ease-in-out;
    cursor: pointer;
}

.books li div{
    width: 90%;
    height: 80%;
    margin: auto;
}

.books li div img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    margin-top: 10px;
}

.books li:hover{
    background-color: #111010;
    color: rgb(221, 0, 255);
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: red;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #b30000;
}